{% extends '::base.html.twig' %}

{% block title %}Table "{{ store.name }}" data{% endblock %}

{% block body %}
    <table class="table store-data">
    {% for record in data %}
        <tr>
            <td>
                {% for field,value in record.data %}
                  <label>{{ field }}</label>: {{ value }}<br />
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </table>

    {% if pages > 1 %}
        <ul class="pagination">
            {% for i in 1..pages %}
                <li class="{% if i == page %}active{% endif %}">
                    <a href="{{ path('store_view', appParams|merge({'id': store.id, 'page': i})) }}">{{ i }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <a href="{{ path('store_list', appParams) }}">Table list</a>

    <style>
        ul.store-data label {
            display: inline-block;
            min-width: 150px;
        }
    </style>

{% endblock %}